body{
    background: rgb(110, 28, 218);
}

#form{
    padding: 5% 5% 5% 50%;
}

h1{
    size: 500;
    padding-left: 50%;
}

h2{
    color: white;
}

ul{
    list-style-type: none;
}
li a {
    list-style-type: none;
    display: block;
    size: 600;
    text-align: center;
    padding: 20%;
    color: white;
    border: 2px solid white;
  }

  li a:hover {
    background-color: gray;
    color: white;
  }

#sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    transition: all ease-in-out 1.8s;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0px 15px;
    background: #000000;
    overflow-y: auto;
  }
  
  .info{
    size: 200px;
    position: absolute;
    top: 20%;
    left: 30%;
    color: white;
    list-style-type: none;
    /* display: none; */
  }

  #img{
    position: relative;
    padding: 0% 0% 0% 50% ;
    transition-property:right;
    transition: 3s;
    width: 20%;
    height: 20%;
  }
